[Desktop Entry]
Version=1.0
Type=Application

Name=preCICE Config Visualizer
Comment=A visualizer for preCICE configuration files
Categories=Development;Debugger;

Icon=org.precice.config_visualizer
Exec=precice-config-visualizer-gui %u
MimeType=application/xml
StartupNotify=true
StartupWMClass=preciceconfigvisualizer
Terminal=false
